body {
margin: 0;
background: #000000;
}

#roller{
    z-index: 2;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
    height:100%;
    flex-direction: column;
}
#rolledVideo{
    
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}
#rollInput{
    display: flex;
    flex-direction: row;

}
input#diceAmount,button{
    padding: 5px;
     font-size: 16px;
     border-width: 0px;
     border-color: #000000;
     background-color: #000000;
     color: #ffffff;
     border-style: hidden;
     border-radius: 0px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    

}
 input:focus {
     outline:none;
}
button:hover{
    cursor: pointer;
}
P #result,#Fails,#wins{
    box-shadow: #ffffff 5px;
} 

#rollResults{
    visibility: hidden;
    animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
video::-webkit-media-controls-overlay-play-button {
  display: none;
}
@-moz-document url-prefix(){
  #settings{
    width: -moz-fit-content;
  }
}
#settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  width:fit-content;
  border-right: 1px solid #0c0c0c;
  background-color: #1d1d1d;
  padding: 10px;
  position: relative;
  z-index: 10;
  flex-wrap: nowrap;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 11px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(14, 14, 14);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 10;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 1px;
  bottom: 1.5px;
  background-color: rgb(66, 66, 66);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #222222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222222;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p{
  color: white;
  z-index: 10;
position: relative;
padding-right: 8px;
}